 <div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list',user: @user,@book_user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
  		<table class="table">
  		  <tbody>
  		    <tr>
  		      <td>
  		        <%= link_to user_path(@book.user_id) do %>
  		          <%= attachment_image_tag @book.user, :profile_image,:fill, 50, 50, fallback: "no_image.jpg" %><br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book) %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <% if @book.id = current_user.id %>
            <% end %>
            <td>
              <%= link_to "Edit", class: "btn btn-sm"%>
            </td>
            <td>
            <% if @book.id = current_user.id %>

            <%= link_to"Destroy",method: :delete, class: "btn btn-sm"%>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>